html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homeText {
    background-color: dodgerblue;
    width: 600px;
    margin: 1rem auto;
    border-radius: 30px;
}