@{
    ViewData["Title"] = "Home Page";
}

<div class="my-5">
    <div class="d-flex justify-content-center card-img rounded-3">
        <img src="~/img/logo-mepyd.png" alt="LogoBanner" style="height:400px;" />
    </div>
    <div class="row d-flex justify-content-center">
        <div class="homeText p-2 text-white">
            <h4 class="text-center">Sistema de Gestión de Estudiantes del MEPyD</h4>
        </div>
    </div>   
</div>
